<div class="container">
  <app-toolbar class="toolbar"></app-toolbar>
  <app-navbar (activeSection)="activeSection = $event" class="navbar"></app-navbar>
  <div class="content">
    <ng-container *ngIf="activeSection === 'students'">
      <app-students-table [students]="students"></app-students-table>

    </ng-container>

    <ng-container *ngIf="activeSection === 'add'">
      <app-add-form (studentAdded)="addStudent($event)"></app-add-form>

    </ng-container>

    <ng-container *ngIf="activeSection === 'delete'">
      <app-delete-form (studentDeleted)="deleteStudent($event)"></app-delete-form>
    </ng-container>

  </div>

</div>